<div class="row">
  <%= render 'asidebar' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>                               <!-- any=モデルが空ならtrueを返す-->
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>                                <!--/_micropost.html.erbを順番に渡してる？-->
      </ol>
    <% end %>
  </div>
</div>